.newsItem-list {
    display: flex;
    margin: 1rem;
    position: relative;
    padding: 1.5rem;
    border-bottom: 1px solid black;
  }
  .newsItem-Img {
    max-height: 6rem;
    margin: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .newsItem-headline {
    margin-bottom: 0.7rem;
  }
  
  .newsItem-description {
    margin-left: 1.5rem;
  }
  
  .newsItem-button {
    border: none;
    background: white;
    color: blue;
    height: 1.3rem;
    width: auto;
    border: 1px solid blue;
    /* padding: 5px 5px; */
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 50px;
    
  }

  .newsItem-button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .newsItem-list {
      padding-bottom: 2rem;
      margin: 0;
      padding-top: 0.7rem;
      display: flex;
      flex-direction: column;
      padding-left: 0rem;
      position: relative;
   
      
    }
    .newsItem-Img {
      max-height: 5rem;
      width: 30%;

    }
    .newsItem-button {
      bottom: 0;
      /* padding-top: 0rem; */
    }

    .newsItem-headline{
      position:absolute;
      top: 1rem;
      left: 8rem;
      width: fit-content;
      block-size: fit-content;
      max-width: fit-content;
    }

   
  }
  