.News-card {
    max-height: 85vh;
    width: 70%;
    background-color: aliceblue;
    /* background-color: white; */
    margin-left: 16rem;
    overflow: scroll;
    overflow-x: hidden;
  }

  .News-section{
    /* background-color: #EAEAEA; */
    background-color: white;
    margin-top: 2rem;
    border-radius: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;

  }
  
  .News-card::-webkit-scrollbar {
    display: none;
  }
  
  .News-card h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    font-weight: 400;
  }
  
  .News-h1 {
    margin-left: 16rem;
    color: brown;
    padding-bottom: 1rem;
  }
  
  /* span {
    border-bottom: 2px solid black;
  } */
  
  @media only screen and (max-width: 1100px) {
    .News-card {
      width: 100%;

    }
  }
  @media only screen and (max-width: 600px) {
    .News-card {
      margin: 0px;
      /* width: min-content; */
      width: 100%;
    }

    .News-section{
       border-radius: 0rem;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }

  
    .News-card h1 {
      font-size: 1.5rem;
    }

    .News-h1{
      margin-left: 6rem;
      margin-bottom: 2rem;
      /* margin-top: 3rem; */
    }
  }
  