*{
  box-sizing: border-box;
  margin: 0vw;
  padding: 0vw;
}

body{
  background: #080216;
  /* background: lavender; */
}

button,
    a,
    select {
      -webkit-tap-highlight-color: transparent;
    }
